  
  .Countdown {
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .h1 {
    font-family: Roboto; 
     font-size: 35px;
     color: #ffff;
     position: relative;
  }

  .p {
    font-family: Roboto; 
     font-size: 24px; 
     color: #ffff;
     position: relative;
  }

  .clock {
    position: relative;
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, #150820, #1B0820);
    height: 180px;
    width: 360px;
    color: #ffffff;
    text-shadow: 1px 1px 7px;
    border-radius: 15px;
    border-color: #DDB4E4 ;
    box-shadow: 0 0 5px 15px;
  }


/* Media query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
  .clock {
    margin: 6%;
    height: 150px;
    width: 350px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;

  }
  .clock section p {
    font-size: 3rem;

  }

  .h1 {
    font-size: 30px;
  }
  .p {
    font-size: 20px;
  }


}
/* Media query for screens with a maximum width of 480px */
@media screen and (max-width: 480px) {

  .clock {
    margin: 2%;
    height: 128px;
    width: 325px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

  }
  .clock section p {
    font-size: 10px;
  }

  .h1 {
    font-size: 28px;
  }
  .p {
    font-size: 18px;
  }

}
  
  .clock section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }
  .clock section p {
    font-size: 4rem;
  }
  .clock section small {
    color: silver;
    text-shadow: none;
  }
  