.Screen {
    background-color: #07030D;
}

.Connect {
    color: #B58EBC;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
}

.Heading {
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.Para {
    font-size: 15px;
    color: white;
    text-align: justify;
}