.Screen {
    background-color: #07030D;
}

.About {
    color: #B58EBC;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
}

.ParaAb {
    font-size: 15px;
    color: white;
    text-align: justify;
}

.videoBg {
    text-align: center;
}



@media screen and (max-width: 480px){

    .paragraph {
        justify-content: center;
        margin: 15px;
        display: flex;
    }

}